{% schema %}
{
  "name": "Product Customizer",
  "target": "section",
  "javascript": "product-customizer.js",
  "settings": []
}
{% endschema %}
{{ 'style.css' | asset_url | stylesheet_tag }}

<div
  data-product-customizer
  data-product-id="{{ product.id }}"
  data-product-price="{{ product.price | money}}"
  data-product-description="{{ product.content }}"
  data-product-handle="{{ product.handle }}"
  data-customer-id="{{ customer.id }}"
  data-customer-tags="{{ customer.tags }}"
></div>
